<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>386806053414-cpn0iueon77u4luo3tjqg3g5kn91mhk5.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.386806053414-cpn0iueon77u4luo3tjqg3g5kn91mhk5</string>
	<key>API_KEY</key>
	<string>AIzaSyD9Heg_H555rCK_lzNWmsKUvmWXNZi2jRI</string>
	<key>GCM_SENDER_ID</key>
	<string>386806053414</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.myAppFlutter1.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>tubes-ppb-b5449</string>
	<key>STORAGE_BUCKET</key>
	<string>tubes-ppb-b5449.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:386806053414:ios:1eec05bed6233cde4984e7</string>
</dict>
</plist>